@font-face {
    font-family: 'Etna';
    src: url('Etna-Sans-serif.otf') format('opentype');
}
@font-face {
    font-family: 'Quicksand';
    src: url('quicksand.bold-regular.otf') format('opentype');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Etna', sans-serif;
}
::placeholder {
    color: #B6ABD9;
    opacity: 1;
}
.brand {
    font-size: 48px;
    font-weight: bold;
    color: whitesmoke;
}

.navbar-nav .nav-item .nav-link {
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
    color: #DEE0F3; 
    font-size: 30px;
    text-align: center;
    font-weight: 500;
    padding: 5px 10px;
    margin-right: 10px;
    transition: color 0.3s, border-color 0.3s;
}
.navbar-nav .nav-item .nav-link:hover {
    border-bottom: 2px solid #1A3057;
    color:#1A3057;
}
.navbar-nav .nav-item .link-nav {
    text-decoration: none;
    color: #1A3057; 
    font-size: 24px;
    font-weight: 500;
    padding: 10px 20px;
    margin-right: 10px;
}
.offcanvas-body .ms-auto {
    padding: 10px 20px;
    margin-right: 10px;
}
.index {
    background: url('https://github.com/Nthnnn26/talatales/blob/main/assets/index.png?raw=true');
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.search-view {
    background: url('https://github.com/Nthnnn26/talatales/blob/main/assets/search_bg.png?raw=true');
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh;
}
.index-btn {
    font-size: 3rem;
    text-decoration: none;
    padding: 10px 20px;
}
.index-btn:hover {
    transform: scale(1.1); 
    transition: transform 0.3s ease;
}
.login-brand {
    font-size: 110px;
    color: #6C628D; 
    padding: 10px 20px;
}
.color-purple {
    color: #6C628D;
}
.access-btn {
    width: 100%;
    height: auto;
    font-size: 1.3rem;
    padding: 5px 10px;
    border-radius: 15px;
    border: none;
    background-color: #6C628D;
    color: whitesmoke;
    text-decoration: none;
    margin-block-start: auto;
}
.access-btn:hover {
    transform: scale(1.1); 
    transition: transform 0.3s ease;
}
.searchbar {
    width: 400px;
    background-color: #FFFFFF;
    border: 3px solid #DEE0F3;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
input {
    border: none;
    outline: none;
    background: none;
}
.glass:hover {
    color: #1A3057;
    cursor: pointer;
}
.scrollable {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
}
.scrollable::-webkit-scrollbar {
    display: none;
}
.btn-cat {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    display: inline-block;
    min-width: 190px;
    min-height: 50px;
    border: none;
    background-color: white;
}

.btn-cat:hover {
    transform: scale(1.1); 
    transition: transform 0.3s ease;
}
.active-cat {
    background-color: #DEE0F3;      
}

.box {
    min-width: 200px;
    height: auto;
}

.story-cover {
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
    border-left: 5px solid #FFFAEC;
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 1);       
    transition: filter 0.5s;     
    transition: transform 0.3s ease; 
}

.story-cover:hover {
    transform: scale(1.1); 
    filter: brightness(80%);
}

.btn-story:hover {
    transform: scale(1.1); 
    transition: transform 0.3s ease;
}

.collaborator-btn {
    background-color: #6C628D;
    color: #FFFFFF;
    padding: 10px 50px;
    border-radius: 15px;
    border: 2px solid #B6ABD9;
    text-align: center;
}

.collaborator-btn:hover {
    transform: scale(1.1); 
    background-color: #333333 !important;
    transition: background-color 0.3s ease, transform 0.3s ease; 
}

.reveal {
    position: relative;
    transform: translateY(50px);
    opacity: 0;
    transition: all 2s ease;
}
.reveal.active {
    transform: translateY(0px);
    opacity: 1;
}

.features-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 250px;
    border: none;
    border-radius: 50px;
    text-align: center;
    padding: 20px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.features-box:hover{
    background-color: #333333 !important;
    transition: background-color 0.3s ease; 
}

.features-box:hover h1 {
    color: #ffffff !important; 
    transition: color 0.3s ease-in;
}

.features-box:hover img {
    transform: scale(1.1); 
    transition: transform 0.3s ease;
}

.features-box:hover p {
    transform: scale(1.1); 
    transition: transform 0.3s ease;
}

body .favorite {
    background-image: url('https://github.com/Nthnnn26/talatales/blob/main/assets/favorite.png?raw=true'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute; 
    width: 70px; 
    height: 90px; 
    top: 0; 
    right: 0; 
    margin-right: 30px; 
    cursor: pointer;
}

.collaborator {
    height: auto;
    background: radial-gradient(circle at 50% 0%, transparent 0%, #DEE0F3 60%);
    border-radius: 0 0 50% 50%;
}

.profile-card {
    position: relative;
    padding: 20px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-card .profile-image p {
    color: #1A3057;
    text-align: center;
    white-space: nowrap;
    margin: 0px;
    padding: 0;
}

.swiper-container {
    position: relative;
    margin: 0 auto;
    width: 100%;
}

.swiper {
    width: 90%;
    margin: 0 auto;
    cursor: grab;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 50px;
}

.swiper .swiper-button-prev::after,
.swiper .swiper-button-next::after {
    content: '';
}

.profile-image img {
    width: 120px;
    height: 120px;
}

.memory-view {  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 700px;
    gap: 20px;
    transform-style: preserve-3d;

}
.item {
    position: relative;
    width: 120px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #F59F0A;
    background: #6C628D;
    border-radius: 20px;
    cursor: pointer;
    transform: rotateY(360deg);
    transition: transform 0.5s, background-color 0.3s;
}
.item.boxOpen {
    transform: rotateY(0deg);
}
.item::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: #DEE0F3;
    background-image: url('https://github.com/Nthnnn26/talatales/blob/main/assets/memory-card.png?raw=true');
    background-position: center;
    background-repeat: no-repeat; 
    background-size: 50%;
    border-radius: 20px;
    transition: 0.5s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
}
.item.boxMatch {
    color: white;
    background-color: green; /* Change background color to green when matched */
}
.boxOpen:after, 
.boxMatch:after {
    transform: rotateY(180deg);
}
.word-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    min-width: 100px;
    min-height: 100px;
    color: #6C628D;
    text-align: center;
    background-color: #DEE0F3;
    border-radius: 30px;
    padding: 5px 10px;
    cursor: pointer;
}

.bg-footer {
    background-image: url('https://github.com/Nthnnn26/talatales/blob/main/assets/footer.png?raw=true'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    position: relative;
}
.about-content{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
}
.about-content a {
    text-decoration: none;
    color: #6C628D;
}

.story-view {
    display: none;
}


#slow, #laugh, #run, #amused, #consented, #sight,
#beside, #sleeping, #steadily, #goal, #swiftest {
    position: absolute;
    display: none;
    background-color: #CBC0ED;
    padding: 10px;
    border: none;
    border-radius: 25px;
    text-align: left;
}
#highlighted-text, #highlighted-text1, #highlighted-text2, #highlighted-text3, #highlighted-text4, 
#highlighted-text5, #highlighted-text6, #highlighted-text7, #highlighted-text8, #highlighted-text9,
#highlighted-text10 {
    color: #6C628D;
    text-decoration: underline;
    cursor: pointer;
    animation: pulse 1.5s infinite alternate;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.moving-text {
    animation: pulse 1.5s infinite alternate;
    display: inline-block;
}

.game-view .game-btn {
    border: none;
    background: transparent;
    border-radius: 25px;
}
.game-view .game-btn:hover {
    border: 5px solid #DEE0F3;
}
.quiz-bee, .memory-game, .spelling-bee {
    display: none;
}
body .modal-transparent {
    background: transparent;
    border: none;
}
.modal-content .popup{
   width: 60%;
   height: auto;
}

.title {
    font-size: 32px
}

@media (max-width: 576px) {
    .brand {
        font-size: 32px;
    }
    body .sidebar {
        background-color: rgb(255, 255, 255, 1);
        backdrop-filter: blur(16px);    
    }
    .index {
        background: url('https://github.com/Nthnnn26/talatales/blob/main/assets/mob_index.png?raw=true');
        background-blend-mode: multiply;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .col-brand {
        width: 80%;
        height: auto;
    }
    .search-view {
        height: 30vh;
    }
    .index-btn {
       font-size: 2rem; 
    }
    .login-brand {
        font-size: 64px; 
    }
    body .favorite {
        background-image: url('https://github.com/Nthnnn26/talatales/blob/main/assets/favorite.png?raw=true'); 
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute; 
        width: 50px; 
        height: 70px; 
        top: 0; 
        right: 0; 
        margin-right: 30px; 
    }
    .about-content {
        flex-direction: column; 
        text-align: center;              
    }
    .memory-view {  
        gap: 10px;   
    }
    .item {
        width: 70px;
        height: 120px;
        font-size: 14px;       
    }
    .word-box {
        min-width: 60px;
        min-height: 60px;
        border-radius: 20px;
    }
    .v-reverse {
        flex-direction: column-reverse;
    }
    footer {
        width: 100%;
        height: 450px;
        background-image: url('https://github.com/Nthnnn26/talatales/blob/main/assets/mob_footer.png?raw=true');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; 
    }
    .bg-footer {
        background-image: url('https://github.com/Nthnnn26/talatales/blob/main/assets/mob_footer.png?raw=true');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; 
        width: 100%;
        height: 450px;
        position: relative;
    }
    .container-fluid button svg {
        width: 45px; 
        height: 45px;
    }
    body .back-btn {
        width: 18px;  
        height: 18px;
    }
    .game-view .game-btn {
        width: 150px;
        height: auto;
    }
    .choices-btn img {
        width: 90%;
        height: auto;
    }
    .modal-content .popup{
        width: 40%;
        height: auto;
     }
    .features-box {
        width: 100%;
        height: 250px;       
    }
    .title {
        font-size: 16px
    }

    .left-box {
        height: 50vh;
    }
}
